.home{

	width:100%;

}

.whole{
	width:50%;
	border-style: solid;
	margin-bottom: 50px;
	margin-left:auto;
	margin-right:auto;
	min-height: 200px;
}

.input{
	display: none;
}

form{
	width:100%;
}

.fields{
	background-color: lightgreen;
}

.profile{
	width:100%;
	text-align: center;


	max-height: 250px;
}

#shower{
	background-color:lightblue;
}

.btn-group{
	width:100%;
	margin-left: 48%;
	margin-right: 0px;
}


li{
	border-radius: 15px;
	background-color: #EEEEEE;
	border-style: solid;
	display: block;
	float: left;
	margin: 25px;
	}


